<div class="content__header">
  <div class="back-link">
    <a (click)="goBack()">
      <span class="pi pi-arrow-left"></span>
      Back
    </a>
  </div>
  <div class="vertA-middle">
    <p-button icon="pi pi-plus" (onClick)="addNewItem()"></p-button>
  </div>
</div>
<div class="content__body">
  <app-table [records$]="records$"
             [qp]="qp"
             (rowClicked)="navigateToItem($event)"
             (navigateToPage)="navigateToPage($event)">
  </app-table>
</div>
<div class="loading" *ngIf="isInProgress"></div>
